@import 'redCard.css';

.critical-area {
    display: inline-block;
    border-left: 1px solid #33343a;
    width: calc(50% - 1px);
    height: 100%;
    padding: 60px 10px 10px 10px;
    box-sizing: border-box;
    background-color: #222326;
    box-shadow: inset 0px 0 10px 0px rgba(255, 59, 59, 0.54);
}